.footer .container {
  align-items: baseline;
  text-align: center;

  @include tablet {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  // display: flex;
  &-tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
  }
  &-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: inline-block;
  }
  &-link,
  &-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
  }
  &-item:not(:last-child) {
    margin-bottom: 9px;
  }
  &-logo-studio {
    color: #ffffff;
  }
  &-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: inline-block;
    font-family: "Raleway";
  }
}
.footer-logo-address {
  @include desktop {
    margin-right: 70px;
  }
}
.join-footer-list {
  @include mobile {
    justify-content: center;
  }
}
.join-footer {
  @include mobile {
    margin-top: 60px;
  }
  @include tablet {
    margin-top: 0px;
  }
  @include desktop {
    margin-top: 0px;
  }
  &-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;

    @include desktop {
      margin-right: auto;
    }
  }
  &-list {
    display: flex;
    gap: 10px;
    list-style: none;
  }
  &-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-icon {
    fill: #ffffff;
  }
  &-link:hover {
    background-color: #2196f3;
  }
  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
  }
}
.subscrip-form {
  @include mobile {
    margin-top: 60px;
  }

  @include tablet {
    margin-top: 60px;
  }
}

.subscrip-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.subscrip-input {
  padding: 15px 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  margin-bottom: 20px;
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include tablet {
    width: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  @include desktop {
    width: 340px;
  }
}
.subscrip-wrap {
  @include desktop {
    display: flex;
  }
}
.subscrip-btn-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    margin-left: 10px;
  }
}
.subscrip-btn-icon {
  fill: #ffffff;
  padding-left: 10px;
}
