.footer .container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  &-tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
  }
  &-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: inline-block;
  }
  &-link,
  &-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
  }
  &-item:not(:last-child) {
    margin-bottom: 9px;
  }
  &-logo-studio {
    color: #ffffff;
  }
  &-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: inline-block;
    font-family: "Raleway";
  }
}

.join-footer {
  margin-left: 70px;
  &-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
  }
  &-list {
    display: flex;
    gap: 10px;
    list-style: none;
  }
  &-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-icon {
    fill: #ffffff;
  }
  &-link:hover {
    background-color: #2196f3;
  }
  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
  }
}
