.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: grey;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Img\ hero.jpg);
}

.home__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  min-width: 216px;
  height: 50px;
}
.home__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  max-width: 696px;
}
.hero,
footer {
  background-color: var(--main-hero-background-color);
}

button {
  display: inline-block;
  font-family: inherit;
  padding: 10px 32px;
}
