.hero {
  width: 100%;
  padding: 120px 0;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: grey;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Img-hero-mob.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
  }

  // @include retina {
  //   background-image: linear-gradient(
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(../img/Img-hero-mob-2x.jpg);
  // }

  @include tablet {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/Img-hero-tab.jpg);
    // @include retina {
    //   background-image: linear-gradient(
    //       rgba(47, 48, 58, 0.4),
    //       rgba(47, 48, 58, 0.4)
    //     ),
    //     url(../img/Img-hero-tab-2x.jpg);
    // }
  }
  @include desktop {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/Img-hero.jpg);
    // @include retina {
    //   background-image: linear-gradient(
    //       rgba(47, 48, 58, 0.4),
    //       rgba(47, 48, 58, 0.4)
    //     ),
    //     url(../img/Img-hero-2x.jpg);
    // }
  }
}

.home__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  min-width: 216px;
  height: 50px;
}
.home__title {
  margin: 0 auto;
  font-weight: 900;
  line-height: 1.62;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  // max-width: 696px;
  max-width: 300px;
  @include mobile {
    max-width: 360px;
  }
  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero,
footer {
  background-color: var(--main-hero-background-color);
}

button {
  display: inline-block;
  font-family: inherit;
}
